
.navbar{
    height: 7rem;
}
.logo{
    font-size: 45px;
    font-weight: bold;
    color:var(--bs-green);
}
.sideNavoptions{
    margin-left: 113px;
    font-weight: 700;
    font-size: 25px;
}
.navOptions{
    padding:30px
}
.linkNav{
    color:#00A862;
}
.navbar-toggler{
    position: absolute;
    left: -39px;
}