
.logo{
    font-size: 45px;
    font-weight: bold;
    color:var(--bs-green);
}
.sideNavoptions{
    margin-left: 113px;
    font-weight: 700;
    font-size: 25px;
}
.navOptions{
    padding:30px
}
.linkNav{
    color:#00A862;
}
.navbar{
    background-color: var(--bs-white) !important;
}
.dropdownWrapper{
    width: 77rem;
    position: absolute;

    top: 5rem !important;
    border: 0;
}
.navItemText{
    font-weight: 700;
    color:var(--bs-green);
}